.bg-primary-dark {
  background-color: #1e3a8a;
}
.map-container {
  height: 300px;
  background-color: #e2e8f0;
}
.status-legend {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.status-dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
.badge-female-friendly {
  background-color: #ec4899;
}
.badge-clean {
  background-color: #22c55e;
}
.badge-paid {
  background-color: #6b7280;
}
.badge-flinta-friendly {
background-color: #b833ff;
}
.badge-handycap-friendly {
background-color: #33d7ff;
}
.badge-family-bathroom {
background-color: #ffac33;
}
.btn-link {
background-color: #1e3a8a;
}
.card-frame {
  text-decoration: none;
}
.status-legend {
  position: absolute;
  bottom: -20px;
  right: 20px;
  background: white;
  padding: 5px;    /* von 10px auf 5px reduziert */
  border-radius: 2px; /* von 4px auf 2px reduziert */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transform: scale(0.5); /* reduziert die Gesamtgröße auf 50% */
  transform-origin: bottom right; /* legt den Ausgangspunkt der Skalierung fest */
  width: 100px;  /* Ursprüngliche Größe vor Skalierung */
  height: 150px; /* Ursprüngliche Größe vor Skalierung */
}
