<div class="card">
  <img src="<%= toilet.image_url %>" class="card-img-top img-fluid" alt="Toilet Image" style="height: 150px; width: auto; object-fit: cover;">
  <div class="card-body">
    <h5 class="card-title"><%= toilet.name %></h5>
    <p class="card-text"><%= toilet.location %></p>
    <!-- Weitere Informationen zur Toilette -->
  </div>
</div>
