.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #050a5a;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1050; /* Sicherstellen, dass es oben auf anderen Inhalten ist */
}

/* Sidebar-Links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* Hover-Effekt für die Links */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Wenn die Sidebar geöffnet wird */
.sidebar.open {
  width: 250px;
}

/* Styling des Overlay Hintergrundes, wenn Sidebar aktiv ist */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  transition: visibility 0.5s;
  z-index: 1040;
}

.overlay.open {
  visibility: visible;
}

/* Navbar Design: Original Blau */
.navbar-custom {
  background-color: #0839A4; /* Original Blau */
}

.navbar-custom .nav-link {
  color: white;
}

.navbar-custom .nav-link:hover {
  color: #f1f1f1;
}

.btn-link {
  color: white;
  background-color: #0839A4;
}

/* Styling für den Hamburger-Button (fa-bars) */
.open-btn {
  font-size: 30px;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1060; /* Über der Sidebar */
}
